
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .grid-item:hover {
    transform: scale(1.05);
  }
  
  .grid-item p {
    margin: 5px 0;
  }

  .dark-mode.name{
   color: #b5e853;
  }
  .light-mode.name{
    color:black;
  }
  /* NewsFeed.module.css */
.light-mode {
  background-color: #f0f0f0;
  color: #333;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.topic {
  font-size: 18px;
  font-weight: bold;
}

.likes {
  font-size: 14px;
  color: #888;
}

.location {
  font-size: 14px;
  color: #888;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
